.container_tabla {
    width: 95%;
    margin: 10px auto;
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.btn_eye {
    width: 50px;
    height: 20px;
    fill: white;    
}

.backop{
    background-color: #1b1e7b;
}

